@mixin ptag {
    font-size: 10px;
    color: gray;
    margin-left: 5px;
    margin-right: 20px;
}

.new-report {
    color: #fff;
    font-size: 12px;
    border-width: 0px;
    height: 30px;
    margin-right: 20px;
    margin-left: auto;
    margin-bottom: 5px;
    width: 105px;
    border-radius: 20px;
    background-color: #ff6d22
}

.header {
    background-color: #3e3e48;
    color: #fff;
    height: 40px;
    width: 350px;
}

.header>p {
    font-size: 12px;
    padding-top: 10px;
    margin-left: 20px;
    color: #fff;
}

form {
    margin-top: 20px;
    margin-left: 10px;
}

label {
    font-size: 10px;
    color: gray;
    font-weight: 500;
}

.form-control {
    display: inline-block;
    width: 70%;
}

.title {
    margin-left: 30px;
    height: 25px;
}

.location {
    margin-left: 12px;
    height: 25px;
}

.extra {
    margin-left: 8px;
    vertical-align: middle;
}

.amenties {
    height: 120px;
    margin-right: 10px;
    border: .5px solid gray;
    width: 95%;
}

.present {
    font-size: 10px;
    color: #3e3e48;
    font-weight: 640;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.check-group {
    margin-left: 5px;
}

.check-group>p {
    color: gray;
    font-size: 10px;
}

.p1 {
    margin-left: 5px;
    margin-right: 35px;
}

.p2 {
    margin-left: 5px;
    margin-right: 20px;
}

.p3 {
    margin-left: 5px;
}

.p4 {
    @include ptag;
}

.p5 {
    @include ptag;
}

.p6 {
    @include ptag;
}

.formBody {
    margin-left: 20px;
    margin-top: 20px;
}

.add {
    color: #fff;
    border-radius: 20px;
    background-color: #ff6d22;
    margin-right: 10px;
    width: 70px;
    border: none;
}

.cancel {
    color: #fff;
    border-radius: 20px;
    background-color: #ff6d22;
    width: 70px;
    border: none;

}

.footer {
    margin-top: 15px;
}

.ok {
    color: #fff;
    font-size: 12px;
    border-width: 0px;
    border-radius: 20px;
    width: 50px;
    background-color: #ff6d22
}